* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(175deg, rgb(58, 58, 255), rgb(255, 135, 135));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    height: 50%;
    width: 50%;
    /* transform: translate(-50px, -50px); */
    /* min-height: 300px; */
    /* width: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.btn {
    position: absolute;
    padding: 15px 40px;
    color: #ffd739;
    font-size: 2em;
    font-weight: bold;
    background-color: #27045b;
    outline: none;
    /* border: 5px solid black; */
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-property: all;
    transition-duration: 0.3s;
}
.btn:hover {
    cursor: pointer;
    background-color: #6807f9;
}
.btn::before {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    background-color: white;
    border-radius: 100px;
    left: 140px;
    bottom: 23px;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    /* Transition */
    /* transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease; */
    /* Animation */
    /* animation-name: jump;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-play-state: paused; */
}
/* @keyframes jump {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-25px);
        animation-timing-function: ease-in;
    }
    100%{
        transform: translateY(0px);
    }
} */

@keyframes bounce {
	0%{
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
        transform:         translateY(0);
	}
	50% {
		-webkit-transform: translateY(-25px);
		-ms-transform:     translateY(-25px);
        transform:         translateY(-25px);
	}
	100% {
		-webkit-transform: translateY(0px);
		-ms-transform:     translateY(0px);
        transform:         translateY(0px);
        /* transition-property: all; */
	}
}

.btn:hover::before {
    /* animation-play-state: running; */
    /* animation-fill-mode: linear; */
    animation-name: bounce;
    -moz-animation-name: bounce;
    transition: all 0.3s ease;
}

